/* Di chuyển cụm Tab sang bên phải */
.fi-ta-ctn > .fi-tabs {
    justify-content: flex-end;
    padding-right: 0.5rem;
    background-color: transparent !important;
    border-bottom: none !important;
}


/* Tinh chỉnh giao diện tab để trông nhỏ gọn hơn khi đặt ở Header */
.fi-tabs-item {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
